<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <style>
        .header {
            background-color: #f1f1f1;
            padding: 10px;
            text-align: center;
        }
        .header a {
            margin: 0 10px;
            text-decoration: none;
            padding: 8px 16px;
            background-color: #333;
            color: white;
            border-radius: 5px;
        }
        .header a:hover {
            background-color: #ddd;
            color: black;
        }
    </style>
</head>
<body>
    <div class="header">
        <!-- Update these href attributes to match your URL names -->
        {% if user.username != '' %}
        <!-- Check if user is registered. TODO: Check authentication? -->
        <a href="{% url 'users:user_profile' username=request.user.username %}">My Profile</a>
        {% else %}
        <!-- To prevent errors for non-registered users, redirect to the registration view -->
        <a href="{% url 'users:login' %}">Log In</a>
        {% endif %}
        <a href="{% url 'leaderboards:leaderboard' %}">Leaderboard</a>
        <a href="{% url 'leaderboards:submit' %}">Submit Score</a>
    </div>

    {% block body %}
    <!-- Content will go here -->
    {% endblock %}

</body>
</html>
