<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Leaderboard</h1>
    <a href="submit_score">Submit Score</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Player Name</th>
                <th scope="col">Game</th>
                <th scope="col">Score</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for score in leaderboard_scores %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ score.player_name }}</td>
                    <td>{{ score.game.name }}</td>
                    <td>{{ score.score_details }}</td>
                    <td>{{ score.date|date:"Y-m-d H:i" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
