<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class ="container mt-5">
</div>
{% extends "users/layout.html" %}
{% block body %}
<div class="container mt-5">
    {% load static %}
    <img src="/nyt_game_leaderboard/static/leaderboards/leaderboard_logo.png" alt="Leaderboard Logo" style="width: 35%;" class="mt-5">
    <!-- <a href="submit_score">Submit Score</a> -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Puzzle #</th>
                <th scope="col">Guesses</th>
                <th scopre="col">Rating</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for score in leaderboard_scores %}
            <!-- if score.ayername in player.friends -->
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ score.player_name }}</td>
                    <td>{{ score.puzzle_number }}</td>
                    <td>{{ score.score_details | linebreaksbr }}</td>
                    <td>{{ score.score_value }}</td>
                    <td>{{ score.date|date:"N j, Y P" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
</body>
</html>
