
{% extends "users/layout.html" %}
{% block body %}
<div class="container mt-3">

    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert(this)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
    {% endif %}




    {% load static %}
    <div style="position: sticky; top: 42px; overflow-y: scroll; background-color: white; z-index: 10;">
        <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 20px; background-color: white;">
            <img src="{% static 'img/leaderboard_logo.png' %}" alt="Leaderboard Logo" style="width: 40%;" class="img-fluid">
            <button id="emojiToggle" class="btn btn-outline-secondary" onclick="toggleEmoji('{% if request.user.is_authenticated %}{{ request.user.username }}{% endif %}')">
                <span id="emoji">🌐 Global</span>
            </button>
        </div>
    

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Initialize emoji and button state based on the current URL
                var emoji = document.getElementById("emoji");
                var currentUrl = window.location.href;
                
                // Define the URLs for both leaderboard views
                var urlGlobal = "{% url 'leaderboards:leaderboard' %}";
                var urlFollowingTemplate = "{% url 'leaderboards:following_leaderboard' username='PLACEHOLDER' %}";
                
                // Determine if we're on the global or following leaderboard page
                // You might need to adjust the logic here based on your URL structure
                if(currentUrl.includes('/following/')) {
                    emoji.textContent = "👥 Following";
                } else {
                    emoji.textContent = "🌐 Global";
                }
                
                // Function to toggle between leaderboard views
                function toggleEmoji() {
                    // Check the current textContent to determine the next state
                    var isGlobal = emoji.textContent.includes("🌐 Global");
                    var username = "{% if request.user.is_authenticated %}{{ request.user.username }}{% endif %}";
                    var urlFollowing = username ? urlFollowingTemplate.replace('PLACEHOLDER', username) : urlGlobal;
                    
                    if (isGlobal) {
                        // If currently global, switch to following
                        emoji.textContent = "👥 Following";
                        window.location.href = urlFollowing;
                    } else {
                        // If currently following, switch to global
                        emoji.textContent = "🌐 Global";
                        window.location.href = urlGlobal;
                    }
                }
        
                // Attach the toggle function to the button without altering its original content
                document.getElementById("emojiToggle").addEventListener('click', toggleEmoji);
            });
        </script>
        


            {% block leaderboard %}

            {% endblock %}


    </div>



</div>
{% include "shared/footer.html" %}
{% endblock %}








